body {
    #background: #f4eeff;
    background-image: url('background.png');
    font-family: Arial, sans-serif;
    text-align: center;
    color: #424874;
    overflow: auto;
}

.page{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    gap: 30px;
    flex-direction: column;
}

h1 {
    margin-bottom: 5px;
}

.header {
    display: flex;
    align-items: center; /* vertical alignment */
    gap: 12px;           /* space between image and text */
    justify-content: center; /* keeps it centered like before */
}

.header-icon {
    width: 80px;   /* small image */
    height: auto;
}

.intro {
    display: inline;
    margin: 0 auto 5px;
    padding: 20px;
    background: white;
    border: 4px solid #a6b1e1;
    border-radius: 10px;

    width: 100%;
    box-sizing: border-box;
    align-items: center; /* vertical alignment */
    gap: 12px;           /* space between image and text */
    justify-content: center;
}

.intro a{
    text-decoration: underline;
    color: #424874;
    display: inline;
}

.intro a:hover {
    color: #a6b1e1;
    display: inline;
}

.homeheader {
    display: flex;
    margin: auto;
    padding: 7px;
    background: white;
    border: 4px solid #dcd6f7;
    border-radius: 10px;

    width: 100%;
    box-sizing: border-box;
    align-items: center; /* vertical alignment */
    gap: 12px;           /* space between image and text */
    justify-content: center;
}
.homeheader a{
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    color: #424874;
    display: block;
}

.homeheader a:hover {
    color: #a6b1e1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
    padding-bottom: 10px;
    box-sizing: border-box;
    flex: 1;

}

.card {
    background: white;
    border: 3px solid #dcd6f7;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.card img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;

}

.card a {
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    color: #424874;
    display: block;
}

.card p {
    font-size: 14px;
    margin-top: auto;
}

.card p:hover {
    color: #a6b1e1;
}

.card a:hover {
    color: #a6b1e1;
}

.footer {
    display: flex;
    margin: 0 auto 20px;
    padding: 10px;
    background: white;
    border: 4px solid #dcd6f7;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    align-items: center; /* vertical alignment */
    gap: 12px;           /* space between image and text */
    justify-content: center;
    height: 65px;

}

.infogrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
    padding-bottom: 10px;
    box-sizing: border-box;
    flex: 1;

}
.infocard {
    background: white;
    border: 5px solid #a6b1e1;
    padding: 10px;
    display: flex;
    width: stretch;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}

/* The sidebar menu */
.sidenav {
    width: 200px;
    flex-shrink: 0; /* prevents it from shrinking */
    border-radius: 10px;
    padding: 10px;
    background-color: #f4eeff;
    border: 4px solid #a6b1e1;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #424874;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #a6b1e1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.content {
    display: flex;
    gap: 30px;
    width: 100%;
}

iframe {
    border: 5px solid #a6b1e1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

td, th {
    border: 1px solid #dcd6f7;
    text-align: left;
    padding: 8px;
}

td:first-child,
th:first-child {
    max-width: 140px;
}

th:nth-child(2),
td:nth-child(2) {
    max-width: 65px;
}

tr:nth-child(even) {
    background-color: white;
}
tr:nth-child(odd) {
    background-color: #f4eeff;
}

.picture {
    border: 5px solid #a6b1e1;
}